*
{
    margin: 0;
    padding: 0; 
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    font-family: 'Antonio', sans-serif;
}

footer{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

/* Header Part Start  */
.h_upperpart
{
    /* height: 50px; */
    padding: 8px 10px;
    /* background-color: #ccc; */
    background-color: #012169;
}
.nav_menubar
{
    padding: 8px 10px;
}

.h_upperpart_left img{
    color: white;
    background-color: white;
}
.fbbg
{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #ccc;
    line-height: 31px;
    text-align: center;
    color: #012169;
}
.email_font
{

    font-size: 18px;
    font-weight: 100;
}
.newsign_btn
{
    padding: 8px 20px;
    font-size: 20px;
}
#h_navbarCollapse a
{
    font-size: 20px;
    color: white;

    text-transform: uppercase;
}
.instbg
{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #ccc;
    line-height: 28px;
    text-align: center;
    /* color: #012169; */
}
.navfont_menu>ul>li a
{
    color: white;
    /* font-size: 19px; */
    text-transform: uppercase;
    font-weight:600;
}

.bar_icon
{
    columns: white;
}


#menu .dropdown:hover .dropdown-menu
{
    display: block !important;
}



/* Banner Start */

.banner {
    /* background: url(./images/america/banner-on-the-water-training.jpeg) no-repeat center center; */
    background: url(./images/america/banner.png) no-repeat center center;
    background-size: cover;
    /* height: 500px; */
    /* padding: 50px 0px; */
    padding-bottom: 580px;
    width: 100%;
    position: relative;
    display: block;
    /* padding-top: 90px; */
 }


/* .banner_overlay
{
    position: absolute;
    background-color: rgba(19, 1, 184, 0.7);
    
    width: 100%;
    height: 100%;
    top: 0;
} */

.overlay {
    width: 100%;
    /* height: 500px; */
    /* background: linear-gradient(141deg, rgb(40 95 197 / 92%) 0%, rgb(26 88 190 / 80%) 90.16%); */
    position: absolute;
    top: 20%;
    padding: 50px 0px;
}

h1 {
    font-size: 65px;
    color: white;
}

p {
    font-size: 30px;
    color: white;
}
.close_icon
{
    color:white
}
.p_menu
{
    display: none;
}

.drop_menu>li:hover .drop_item, .drop_menu>li:hover .drop_item_1, .drop_menu>li:hover .drop_item_2, .drop_menu>li:hover .drop_item_3
{
   
    background-color: #E4002B;
}
.drop_menu >li>a
{
        padding: 00px 100px 0px 12px;
        font-size: 15px;
}

/* .nav_megmenu
{
    position: relative;
}
.mega_submenu
{
    position: absolute;
    transition: 0.7s;
    transform-origin: top;
    transform: scaleY(0);
}
.nav_megmenu>a:hover .mega_submenu {
    transform: scaleY(1);
} */





/* Footer Part Start */
footer{
    width: 100%;
    /* height: 500px; */
  margin-top: 5px;
    background-color:#012169;
}
.footer{
    max-width: 1320px;
    margin: auto;

}
.f_row
{
    padding-top: 35px;
    padding-bottom: 35px;
}
.f_h5
{
    color: white;
    line-height: 25px;
}
.f_p
{
    color: white;
}

.f_col_1 a, .f_col_2 a, .f_col_3 a
{
  
    text-decoration: none;
    color: white;
}

.f_col_1 nav ul li, .f_col_2 nav ul li, .f_col_3 nav ul li
{
    padding-bottom: 10px;
    color: white;
}


.f_btn
{
    padding: 7px 18px;
    background-color: white;
   
}

.f_btn:hover::before, .f_btn:focus::before {
    opacity: 1;
    
}
.f_btn:hover
{
    border: 1px solid white;
    color:white
}
.f_btn::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    color: white;
    background: rgba(0, 0, 0, 0);
}

.f_col_1>h3, .f_col_2>h3, .f_col_3>h3
{
    color: white;
    /* padding-left: 27px; */
    padding-bottom: 5px;
}
.brdr
{
      border-bottom: 1px solid white;
      
}

.f_bottm
{
    color: white;
    text-align: center;
    padding: 35px 0px;
}
